.container {
    width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	font-family: 'poppins',sans-serif;
}
.row {
	display:flex;
	flex-wrap:wrap;
	margin: 0 -15px;
}
.col-lg-1 {
	width: 8.33%;
	padding: 0 15px;
}
.col-lg-2 {
	width: 16.66%;
	padding: 0 15px;
}
.col-lg-3 {
	width: 25%;
	padding: 0 15px;
}
.col-lg-4 {
	width: 33.33%;
	padding: 0 15px;
}
.col-lg-5 {
	width: 41.66%;
	padding: 0 15px;
}
.col-lg-6 {
	width: 50%;
	padding: 0 15px;
}
.col-lg-7 {
	width: 58.33%;
	padding: 0 15px;
}
.col-lg-8 {
	width: 66.66%;
	padding: 0 15px;
}
.col-lg-9 {
	width: 75%;
	padding: 0 15px;
}
.col-lg-10 {
	width: 83.33%;
	padding: 0 15px;
}
.col-lg-11 {
	width: 91.66%;
	padding: 0 15px;
}
.col-lg-12 {
	width: 100%;
	padding: 0 15px;
}
.align-items {
	align-items: center !important;
}
/*---------- header start -----------*/
.header-content {
	background: white;
    padding: 30px 0;
    width: 100%;
	position: fixed;
	z-index: 2;
}
.logo-name > a {
	font-size: 40px;
	font-weight: 800;
	text-decoration: none;
	color: black;
}
.logo-name a > span {
	color: #e03a3c;
}
.logo-nav {
    text-align: right;
}
.logo-nav ul > li {
	display: inline-block;
}
.logo-nav li > a {
    display: block;
	font-size: 18px;
	text-decoration: none;
	padding-right: 25px;
	color: black;
	font-weight: 600;
	font-family: 'raleway',sans-serif;
}
.logo-nav li > a.home {
	color: #e03a3c;
}
.dropdown {
	position: relative;
}
.dropdown a i {
	font-size: 20px;
	padding-left: 5px;
}
.sub-dropdown1 {
	position: absolute;
	top: 30px;
	left: 0;
	min-width: 175px;
	background: white;
	box-shadow: -2px -3px 3px lightgray;
    height: 175px;	
	border-radius: 1px;
	transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
	text-align: left;
}
.sub-dropdown1 li > a {
	padding-bottom: 15px;
	font-size: 15px;
}
.dropdown:hover .sub-dropdown1 {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
.sub-dropdown2 {
	position: absolute;
	top: 40px;
	left: 172px;
	min-width: 135px;
	background: white;
	box-shadow: -2px -3px 3px lightgray;
    height: 150px;	
	border-radius: 1px;
	transform: translateX(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
	text-align: left;
}
.sub-dropdown2 li > a {
	padding-bottom: 15px;
	font-size: 15px;
}
.sub-dropdown1:hover .sub-dropdown2 {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
.logo-nav li:nth-child(9) {
	background: #e03a3c;
	border-radius: 3px;
	padding: 10px 0 10px 20px;
}
.logo-nav li:nth-child(9) > a {
	color: white;
}
.logo-nav li > a:hover {
	color: #e03a3c;
}
.logo-nav li:nth-child(9):hover {
	background: black;
}
.logo-nav li:nth-child(9) > a:hover {
	color: white;
}
/*---------- banner1 start -----------*/
.banner-content {
	background-image: url(../image/hero-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 750px;
}
.banner1 {
	 background: rgba(0, 0, 0, 0.7);
	 height: 100%;
}
.banner-information {
	padding-top: 230px;
}
.banner-information h1 {
    color: white;
	font-size: 60px;
	font-weight: 700;
	font-family: 'raleway',sans-serif;
	margin-bottom: 20px;
}
.banner-information p {
	color: white;
	font-size: 30px;
	font-weight: 50;
	font-family: 'raleway',sans-serif;
	margin-bottom: 40px;
}
.banner-button {
	background: #e03a3c;
	border-radius: 5px;
	padding: 15px 30px;
	width: 200px;
	text-align: center;
	border: 2px solid #e03a3c;
	transform: translateZ(10px);
	transition: all 0.7s ease;
}
.button1 {
	color: white;
	font-size: 20px;
	text-decoration: none;
	font-family: 'raleway',sans-serif;
}
.banner-button:hover {
	background: none;
	border: 2px solid white;
}
.arrow {
	background: #e03a3c;
	padding: 0 7px;
	position: fixed;
	right: 0;
	bottom: 0;
	color: white;
	text-align: center;
	font-size: 35px;
	border-radius: 3px;
	margin-right: 15px;
	margin-bottom: 15px;
	z-index: 2;
}
.banner-content:hover .arrow{
	visibility: hidden;
	opacity: 0;
	transform: translateZ(10px);
	transition: all 0.1s ease;
}
.arrow:hover {
	opacity: 0.94;
}
/*---------- option-logo start -----------*/
.row-logo-option {
	padding: 110px 0;
}
.logo-collection img {
    width: 100%;
	padding: 0 40px;
	filter: grayscale(100%);
	opacity: 0.4;
}
.logo-collection img:hover {
	opacity: 1;
	filter: grayscale(0);
}
/*---------- about-us start -----------*/
.skew-position { 
	z-index: 1;
	position: relative;
	padding: 100px 0;
}
.skew-position:after {
	content:"";
	background: black;
	z-index: -1;
	width: 100%;
	height: 90%;
	position: absolute;
	left: 0;
	top: 0;
	transform: skewY(-2deg);	
}
.about-us-information h1 {	
    color: white;
	font-family: 'raleway',sans-serif;
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 25px;
}
.about-us-information p{
	color: white;
	font-family: 'poppins',sans-serif;
	margin-bottom: 35px;
}
.about-us-button {
	background: none;
	border: #e03a3c solid 2px;
	border-radius: 30px;
	width: 35%;
	text-align: center;
}
.button2 {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'poppins',sans-serif;
}	
.about-us-button span > i {
	padding: 13px 0;
	display: inline-block;
    text-align: center;
}
.about-us-button:hover {
	background: #e03a3c;
}
.row-content span > i {
	color: #e03a3c;
	font-size: 30px;
}
.row-content h3 {
	color: white;
	font-family: 'raleway',sans-serif;
	font-size: 25px;
	margin: 15px 0;
}
.row-content p {
	color: #444444;
	font-family: 'poppins',sans-serif;
	margin-bottom: 50px;
}
/*---------- emoji start -----------*/
.emoji {
	background: white;
	border-radius: 3px;
	box-shadow: -1px -1px 15px 1px lightgrey;
	text-align: center;
	padding-bottom: 20px;
}
.emoji-size {
    width: 150%;
    font-size: 30px;
    height: 150%;
    border-radius: 100%;
    border: none;
    padding: 7px 15px;
    background: white;
    text-align: center;
    box-shadow: -1px -1px 15px 1px lightgrey;
	color: #e03a3c;
}
.emoji h1 {
	font-size: 50px;
	font-weight: 900;
	padding-top: 5px;
}
.emoji p {
	font-family: 'raleway',sans-serif;
}
/*---------- skill start -----------*
.skill-collection {
	background: black;
	height:100px;
	margin-bottom: 20px;
}
.skill-passage {
	background: black;
	height: 300px;
}
/*---------- banner2 start -----------*
.services {
    background: black;
    height: 530px;
	padding: 20px 0;
}
.services-content {
	height: 150px;
    background: lightgray;
	margin-bottom: 20px;
}
.row-services-passage {
	background: lightgray;
	height: 90px;
	margin-bottom: 20px;
}
/*---------- advertisement start -----------*
.advertisement-content {
	background: lightgray;
	height: 650px;
	padding: 20px 0;
}
.advertisement-information {
    background: black;
	height: 100px;
	margin-bottom: 20px;
}
.advertisement-image {
	background: black;
	height: 150px; 
	margin-bottom: 20px;
}
/*---------- expert-content start -----------*
.expert-content {
	background: black;
	height: 400px;
	padding: 20px 0;
}
.expert-information {
	background: lightgray;
	height: 100px;
	margin-bottom: 20px;
}
.expert-list {
	background: lightgray;
	height: 200px;
}
/*---------- cost start -----------*
.cost {
    background: lightgray;
	height: 450px;
	padding: 20px 0;
}
.cost-information {
	background: black;
	height: 100px;
	margin-bottom: 20px;
}
.row-cost-passage {
   background: black;
	height: 300px;
}
/*---------- questions-content start -----------*
.questions-content {
	background: black;
	height: 350px;
	padding: 20px 0;
}
.questions {
	background: lightgray;
	height: 100px;
	margin-bottom: 20px;
}
.questions-list {
	background: lightgray;
	height: 200px;
}
/*---------- banner3 start -----------*
.team {
    background: lightgray;
	height: 450px;
	padding: 20px 0;
}
.team-information {
	background: black;
	height: 100px;
	margin-bottom: 20px;
}
.row-team-passage {
   background: black;
	height: 300px;
}
/*---------- forms start -----------*
.contact-content {
    background: black;
	height: 450px;
	padding: 20px 0;
}
.contact-information {
	background: lightgray;
	height: 100px;
	margin-bottom: 20px;
}
.contact-details {
	background: lightgray;
	height: 150px;
	margin-bottom: 20px;
}
.email-details {
	background: lightgray;
	height: 100px;
}
.mobile-details {
	background: lightgray;
	height: 100px;
}
.forms-details {
	background: lightgray;
	height: 300px;
}
/*---------- web-details start -----------*
.web-details-content {
	background: lightgray;
	height: 300px;
	padding: 25px 0;
}
.web-information {
	background: black;
	height: 200px;
}
/*---------- footer start -----------*
.footer-content {
	background: black;
	height: 70px;
	padding: 25px 0;
}
.footer-information {
	background: lightgray;
	height: 20px;
}