* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html {
	 background-color:#bcddf32e;
}
.container {
	    width:1140px;
	    margin:0px auto;
		box-sizing:border-box;
		position:relative;
}
.name {
	margin:20px 0px 20px 20px;
	display:inline-block;
	width:100%;
}
#fname {
    padding:10px 10px 10px 10px;
	width:25%;
}	
#sname {
    padding:10px 10px 10px 10px;
	width:25%;
	margin-left:1.5%;
}	
#sub_name {
	padding:10px 10px 10px 10px;
	width:52%;
	margin-top:20px;
}
#message {
	margin:3px 0px 10px 20px;
	padding:10px 0px 0px 10px;
	width:52%;
}
button {
	background:#1b41c7;
	border:none;
	padding:13px 33px;
	position:absolute;
	left:22%;
	top:90%;
	border-radius:7px;
	margin-top:40px;
}
.send {
     text-align:center;
     color:white;
}	 
form {
	margin:10px 0px 0px 10px;
}